#footer
{
    min-height: 4em;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bolder;
    position: fixed;
    bottom: 0; 
    width: 100%; 
}

html, body, main
{
    min-height: 100vh;
}

.ml-auto
{
    margin-left: auto;
}